body {
    background-color: black;
}
.container {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 300px;
    border: solid 5px white;
    padding: 10px;
    transition-property: background-color, color, transform;
    transition-duration: .5s;
    transition-timing-function: linear;
    
    &:hover {
        background-color: white;
        color: black;
        transform: scale(1.5);
        transform: translateX(150px);
        
    }

}
